@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.home-container {
  text-align: center;
  margin-top: 50px;
}

.typewriter {
  display: inline-block;
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid black; /* Simulates the cursor effect */
  padding: 10px;
  animation: blink 0.75s step-end infinite;
}

@keyframes blink {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
